:root {
    --primary: #1995c6bd;
    --primary-light: #6cc7eaa3;
    --primary-dark: #186280;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.hide {
    display: none;
}

.dotsep::before {
    padding: 0px 10px;
    content: '•';
}

img.profile {
    max-width: 250px;
    border-radius: 100%;
    border: 10px solid var(--primary);
    transition: 1.5s;
}

img.profile.flip {
    transform: rotateX(360deg);
}

header h1 {
    font-weight: 700;
    font-size: 50px;
}

.research-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 32px;
    grid-auto-flow: dense;
    transition: 2s;
}


.research-projects .project {
    transition: 1s;
    opacity: 0;
    border: 10px solid #54b0d4;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.research-projects .project .row {
    height: 100%;
    align-content: center;
}

.research-projects .project.visible {
    opacity: 1;
}

.research-projects .project img {
    width: 100%;
}

/* Extra-wide grid-posts */
.research-projects .project.project-full-width {
    grid-column: 1 / -1;
}

.research-projects .project.project-double {
    grid-column: 1 / 2;
}

/* Single column display for phones */
@media (max-width: 459px) {
    .project {
        display: flex;
        flex-direction: column;
    }
}

footer.footer .social-link {
    transition: 300ms ease-in-out;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

footer.footer .social-link.fa-github {
    border-radius: 100%;
}

footer.footer .social-link.fa-linkedin {
    border-radius: 10px;
    line-height: 70px;
}

footer.footer .social-link:hover {
    background-color: var(--primary-light);
    text-decoration: none;
    box-shadow: none;
    transform: translateY(3px);
}

footer.footer .social-link:active {
    background-color: var(--primary);
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--primary-dark);
}